html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 150vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.photo-container {
  margin: 0 auto;
  padding: 0;
  width: 75vh;
  height: 100vh;
  position: relative;

  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 1;
  transition: opacity 1s linear;
}

.stripe-animation-container {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.phrase-container {
  position: absolute;
  width: 100%;
  bottom: 180px;
  transform: rotate(-15deg);
}

.stripe {
  position: absolute;
  left: -100vw;
  width: 50vw;
  min-height: 80px;
  background-color: #fff;
  transform: skewX(-15deg) translateX(-50%);
}

.text {
  position: absolute;
  left: 120vw;
  min-width: 50vw;
  font: 300 40px "Open Sans";
  text-align: center;
  line-height: 75px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-bottom: 5px;
  background-color: rgba(0,0,0,0);
  color: #000;
  transform: translateX(-50%);
}

.fade {
  opacity: 1;
  transition: opacity 1s linear;
}

.left-to-right-animation {
  animation: bounce-in-from-left 1s ease-out forwards;
}

.right-to-left-animation {
  animation: bounce-in-from-right 1s ease-out forwards;
}

.display-burn-in-animation {
  animation: display-burn-in 5s ease forwards;
}

@keyframes bounce-in-from-left {
  0%   { left: -100vw; }
  70%  { left: 60%; }
  100% { left: 50%; }
}

@keyframes bounce-in-from-right {
  0%   { left: 120vw; }
  70%  { left: 40%; }
  100% { left: 50%; }
}

@keyframes display-burn-in {
  0%   { filter: blur(25px); }
  100% { filter: blur(0); }
}

.mosaic-container-full {
  padding: 0;
  margin: 0 auto;
  width: 75vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: opacity 1s linear;
}

.mosaic-container-quarter {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mosaic-photo {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 1s linear;
}
